<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>入金管理システム</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<!-- タイトルバー -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">入金管理システム</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<a class="user-address" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ログイン中　：　abc@defghij.jp</a>
		<div class="dropdown-menu">
		  <a class="dropdown-item" href="#">ログアウト</a>
		</div>
  </div>
</nav>

<!-- コンテンツ -->
<div class="container-fluid">
  <div class="row">
  <!-- サイドメニュー -->
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">顧客データ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment/payment_list.html">入金データ</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/admin/admin_list.html">管理者データ</a>
        </li>
      </ul>
    </nav>

<!-- メインコンテンツ -->
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 table-cover">
<!-- 検索エリア -->
    <h5><a href="/customer/detail.html">顧客データ</a> 様の伝票データ</h5>
    <span class="slip-span">2017 / 02 ～ 2017 / 02 分</span>
    <div class="row slip-date-form" style="float: right;">
		  <div>
		  	<select class="form-select">
		    	<option selected="selected">年</option>
		    	<option>2015</option>
		    	<option>2016</option>
		    	<option>2017</option>
		    </select>
		  </div>
		  <div class="select-assist">&nbsp;/&nbsp;</div>
		 	<div>
		  	<select class="form-select">
		    	<option selected="selected">月</option>
		    	<option>1</option>
		    	<option>2</option>
		    	<option>3</option>
		    	<option>4</option>
		    	<option>5</option>
		    	<option>6</option>
		    	<option>7</option>
		    	<option>8</option>
		    	<option>9</option>
		    	<option>10</option>
		    	<option>11</option>
		    	<option>12</option>
		    </select>
		  </div>
		  <div class="select-assist">&nbsp;～&nbsp;</div>
		  <div>
		  	<select class="form-select">
		    	<option selected="selected">年</option>
		    	<option>2015</option>
		    	<option>2016</option>
		    	<option>2017</option>
		    </select>
		  </div>
		  <div class="select-assist">&nbsp;/&nbsp;</div>
		 	<div>
		  	<select class="form-select">
		    	<option selected="selected">月</option>
		    	<option>1</option>
		    	<option>2</option>
		    	<option>3</option>
		    	<option>4</option>
		    	<option>5</option>
		    	<option>6</option>
		    	<option>7</option>
		    	<option>8</option>
		    	<option>9</option>
		    	<option>10</option>
		    	<option>11</option>
		    	<option>12</option>
		    </select>
		  </div>
		  <button class="btn btn-primary btn-margin-left btn-margin-bottom slip-date-button">検索</button>
		</div>
    
<!-- テーブル -->
      <div class="table-cover">
        <table class="table table-striped table-bordered table-sm table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>年月</th>
              <th>合計金額</th>
              <th>消費税</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2017/02</td>
              <td><a href="#" data-toggle="modal" data-target="#slip_item" data-whatever="1">21,600</a></td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>2</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>3</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>4</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
            <tr>
              <td>5</td>
              <td>2017/02</td>
              <td>21,600</td>
              <td>1,600</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ページネーション -->
    <div>
		    <ul class="pagination justify-content-center">
		      <!-- 戻るボタン
		      <li class="page-item">
		        <a class="page-link" href="#" aria-label="Previous">
		          <span aria-hidden="true">Prev</span>
		        </a>
		      </li>
		      -->
		      <li class="page-item active"><a class="page-link" href="#">1</a></li>
	   	    <li class="page-item"><a class="page-link" href="#">2</a></li>
		      <li class="page-item"><a class="page-link" href="#">3</a></li>
		      <li class="page-item"><a class="page-link" href="#">4</a></li>
		      <li class="page-item"><a class="page-link" href="#">5</a></li>
		      <li class="page-item"><a class="page-link" href="#">6</a></li>
		      <li class="page-item"><a class="page-link" href="#">7</a></li>
		      <li class="page-item"><a class="page-link" href="#">8</a></li>
		      <li class="page-item"><a class="page-link" href="#">9</a></li>
		      <li class="page-item"><a class="page-link" href="#">10</a></li>
		      <li class="page-item">
		        <a class="page-link" href="#" aria-label="Next">
		          <span aria-hidden="true">Next</span>
		        </a>
		      </li>
		    </ul>
		  </div>
</main>
  </div>
</div>



<!-- 伝票明細ダイアログ -->
<div class="modal fade" id="slip_item" tabindex="-1" role="dialog" aria-labelledby="slipItem">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">伝票明細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-tall">
        <table class="table table-striped table-bordered table-sm table-hover">
          <thead>
            <tr>
              <th>名称</th>
              <th>単価</th>
              <th>数量</th>
            </tr>
          </thead>
          <tbody style="white-space: initial;">
          	<tr>
          		<td>ほげ</td>
          		<td>1,000</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>ほげほげ</td>
          		<td>2,000</td>
          		<td>2</td>
          	</tr>
          	<tr>
          		<td>ほげげ</td>
          		<td>10,000</td>
          		<td>1</td>
          	</tr>
          	<tr>
          		<td>歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩歩</td>
          		<td>500</td>
          		<td>1</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>む</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          	<tr>
          		<td>商品名</td>
          		<td>10</td>
          		<td>5</td>
          	</tr>
          </tbody>
          <tfoot class="table-info"><tr>
          	<th>合計</th>
          	<td>20,000</td>
          	<td>59</td>
          </tr></tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
	
	<!-- スクリプト -->
	<script src="/js/jquery-3.1.1.js"></script>
	<script src="/js/tether.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/table_size.js"></script>
	<script src="/js/dialog_size.js"></script>
</body>
</html>