@CHARSET "UTF-8";

/* ----------------------------細かい部分---------------------------- */

/* アコーディオン内hrサイズ */
hr {
	margin: 0.75rem 0;
}


/* ボタン位置・サイズ調整 */
h5 {
	display: inline;
	line-height: 1.8;
}
.btn {
	padding: 0.45rem 0.8rem 0.3rem;
	width: 160px;
}
.btn-right {
	float: right;
}
.btn-margin-left {
	margin-left: 10px;
}
.btn-margin-bottom {
	margin-bottom: 6px;
}
.margin-right {
	margin-right: 38px;
}
.btn-search {
	margin-bottom: 8px;
}
.btn-dialog {
	width: 110px;
}
.user-address {
	color: #5cb85c;
}
.user-address:hover, .user-address:focus {
	color: #489148;
}


/* 検索条件のformサイズを狭める */
.form-control {
	padding-top: 4px;
	padding-bottom: 4px;
}
/* select調整 */
.search-select {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 1px 0.5rem;
}
/* select・check等位置調整 */
.form-padding {
	padding-right: 15px;
	padding-left: 15px;
}
/* 年月フォームの記号のずれを修正 */
.select-assist {
	position: relative;
	top: 4px;
}
/* サジェストエリアの設定 */
.suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    /* width: 200px; */
    z-index: 1;
}
.suggest div {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
.suggest div.select{ /* キー上下で選択した場合のスタイル */
    color: #FFFFFF;
    background-color: #3366FF;
}
.suggest div.over{ /* マウスオーバ時のスタイル */
    background-color: #99CCFF;
}


/* セル内で改行しないようにする */
table {
    white-space: nowrap;
}
/* テーブルストライプの色を変更 */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}
/* テーブル内ホバーの色を上書き */
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
/* 詳細画面のtable > th */
.table-list th {
	background-color: rgba(0, 0, 0, 0.03);
	width: 148px;
}
/* 管理者データ画面の編集カラム */
.admin-table tr th:nth-of-type(4) {
	background-color: #859994;
	color: #ffffff;
	text-align: center;
}
.admin-table tr td:nth-of-type(4) {
	text-align: center;
	background-blend-mode: multiply;
	-webkit-background-blend-mode: multiply;
	background-color: rgba(133, 153, 148, 0.21);
}


/* 登録画面のbutton位置調整 */
#entry {
	display: inline;
}


/* 自動入力ボタン */
.table-list .auto-insert {
	padding: 0.25rem 0.8rem 0.1rem;
	width: 130px;
}

/* 詳細・登録・編集ページの見出し横説明書き */
.explain {
	margin: 100px;
}
/* 顧客ページ下部のボタンに対する説明書き */
.customer-button-explain {
	float: right;
	margin-right: 10px;
	position: relative;
	top: 6px;
}
/* 伝票ページの検索結果年月 */
.slip-span {
	margin: 40px;
	font-size: large;
}

/* ダイアログ用a要素の見た目をa要素に近づける */
.modal-link {
	color: #0275d8;
}
.modal-link:focus, .modal-link:hover {
	color: #014c8c;
	text-decoration: underline;
}
/* ダイアログ内input要素のサイズを調整 */
.dialog-input {
	display: inline;
	width: 70%;
}


/* 伝票ページ検索select要素の位置調整 */
.slip-date-form {
	position: relative;
	top: 4px;
}
.slip-date-button {
	margin-right: 15px;
	position: relative;
	top: -4px;
}


/* 登録・編集ページ入力フォームサイズ */
/* table幅最大 */
.table-list .input-width-max {
	width: 100%;
}
/* 50px */
.width-50 {
	width: 50px;
}
/* 100px */
.width-100 {
	width: 100px;
}
/* 150px */
.width-150 {
	width: 150px;
}
/* 650px */
.width-650 {
	width: 650px;
}