<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>入金管理システム</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<!-- タイトルバー -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">入金管理システム</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<a class="user-address" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ログイン中　：　abc@defghij.jp</a>
		<div class="dropdown-menu">
		  <a class="dropdown-item" href="#">ログアウト</a>
		</div>
  </div>
</nav>

<!-- コンテンツ -->
<div class="container-fluid">
  <div class="row">
  <!-- サイドメニュー -->
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/">顧客データ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment/search">入金データ</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/admin/search">管理者データ</a>
        </li>
      </ul>
    </nav>

<!-- メインコンテンツ -->
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

<!-- テーブル -->
    <h5>この内容でよろしいですか？</h5>
    <form id="entry">
    	<button type="button" id="customer-finish-btn" class="btn btn-info btn-right btn-margin-left btn-margin-bottom" onclick="location.href='/customer/detail'">OK</button>
      <input type="hidden" name="name" value="" />
      <input type="hidden" name="kana" value="" />
      <input type="hidden" name="postal_code" value="" />
      <input type="hidden" name="address1" value="" />
      <input type="hidden" name="address2" value="" />
      <input type="hidden" name="tel" value="" />
      <input type="hidden" name="fax" value="" />
      <input type="hidden" name="tax_type" value="" />
      <input type="hidden" name="rounding_type" value="" />
      <input type="hidden" name="closing_day" value="" />
    </form>
    <button type="button" class="btn btn-secondary btn-right btn-margin-bottom">戻る</button>
    <div class="table">
      <table class="table table-bordered table-sm table-hover table-list">
      	<tbody>
          <tr>
          	<th>名称</th>
            <td>顧客データ</td>
          </tr>
          <tr>
         		<th>かな</th> 
            <td>こきゃくでーた</td>
          </tr>
          <tr>
          	<th>郵便番号</th>
            <td>000-0000</td>
          </tr>
          <tr>
          	<th>住所1</th>
            <td>鹿児島県</td>
          </tr>
          <tr>
            <th>住所2</th>
            <td>鹿児島市星ヶ峯1-1-1</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>00000000000</td>
          </tr>
          <tr>
            <th>FAX番号</th>
            <td>00000000000</td>
          </tr>
          <tr>
            <th>税区分</th>
            <td>1 : 切捨て</td>
          </tr>
          <tr>
            <th>丸め方法</th>
            <td>1 : 明細行</td>
          </tr>
          <tr>
            <th>締め日</th>
            <td>5日</td>
          </tr>
        </tbody>
      </table>
    </div>
</main>
  </div>
</div>
	
	<!-- スクリプト -->
	<script src="/js/jquery-3.1.1.js"></script>
	<script src="/js/tether.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/table_size.js"></script>
	<script src="/js/saved_throw.js"></script>
</body>
</html>