<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>入金管理システム</title>
	<link rel="stylesheet" href="/css/jquery-ui.css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/layout.css" />
	<link rel="stylesheet" href="/css/style.css" />
	
	<script src="/js/jquery-3.1.1.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/tether.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/table_size.js"></script>
	<script src="/js/customer.js"></script>
	<script src="/js/search_url.js"></script>
</head>

<body>
<!-- タイトルバー -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">入金管理システム</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<a class="user-address" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ログイン中　：　abc@defghij.jp</a>
		<div class="dropdown-menu">
		  <a class="dropdown-item" href="#">ログアウト</a>
		</div>
  </div>
</nav>

<!-- コンテンツ -->
<div class="container-fluid">
  <div class="row">
  <!-- サイドメニュー -->
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/">顧客データ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment/search">入金データ</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/admin/search">管理者データ</a>
        </li>
      </ul>
    </nav>

<!-- メインコンテンツ -->
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<!-- 検索欄 -->
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header-sm" role="tab" id="heading">
          <h5 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="true" aria-controls="collapse" class="search-area">
							検索条件の設定
            </a>
					</h5>
        </div>
        
        <div id="collapse" class="collapse show search-list" role="tabpanel" aria-labelledby="heading">
          <div class="card-block-sm">
          <form id="form-search" class="form-scroll" action="/customer/search/page=1" method="get" th:object="${condition}">
						<div class="form-group-sm row">
						  <label for="name" class="col-2 col-form-label">顧客名称</label>
						  <div class="col-10">
						    <input id="customer_name" class="form-control" type="search" name="name" maxlength="40" th:value="${name}" />
						  </div>
						</div>
						<div class="form-group-sm row">
						  <label for="kana" class="col-2 col-form-label">顧客名称（かな）</label>
						  <div class="col-10">
						    <input id="customer_kana" class="form-control" type="search" name="kana" th:value="${kana}"/>
						  </div>
						</div>
						<div class="form-group-sm row">
						  <label for="postal_code" class="col-2 col-form-label">郵便番号<small>&emsp;※半角数字</small></label>
						  <div class="col-2">
						    <input id="postal_code" class="form-control" type="search" name="postal_code" maxlength="7" th:value="${postal_code}" />
						  </div>
						</div>
						<div class="form-group-sm row">
						  <label for="address1" class="col-2 col-form-label">住所1</label>
						  <div class="col-2">
						    <select id="address1" class="search-select" name="address1">
						    	<option selected="selected" value="">都道府県選択</option>
						    	<option th:each="area: ${area_list}" th:text="${area}" th:value="${area}"></option>
						    </select>
						  </div>
						  <div class="col-1"></div>
						  <label for="address2" class="col-2 col-form-label">住所2</label>
						  <div class="col-5">
						    <input id="address2" class="form-control" type="search" name="address2" maxlength="40" th:value="${address2}" />
						  </div>
						</div>
						<div class="form-group-sm row">
						  <label for="tel" class="col-2 col-form-label">電話番号<small>&emsp;※半角数字</small></label>
						  <div class="col-2">
						    <input id="tel" class="form-control" type="search" name="tel" maxlength="14" th:value="${tel}" />
						  </div>
						  <div class="col-1"></div>
						  <label for="fax" class="col-2 col-form-label">FAX番号<small>&emsp;※半角数字</small></label>
						  <div class="col-2">
						    <input id="fax" class="form-control" type="search" name="fax" maxlength="14" th:value="${fax}" />
						  </div>
						</div>
					</form>
					<hr />
          <button type="submit" id="searchBtn" form="form-search" class="btn btn-primary btn-right btn-margin-left">検　索</button>
          <input type="reset" form="form-search" value="検索条件リセット" class="btn btn-secondary btn-search btn-right" />
          </div>
        </div>
      </div>
    </div>

    <h5>顧客データ</h5>
    <button type="button" class="btn btn-success btn-right btn-margin-bottom margin-right" onclick="location.href='/customer/entry'">新規登録</button>  
<!-- テーブル -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>かな</th>
              <th>郵便番号</th>
              <th>住所</th>
              <th>電話番号</th>
              <th>FAX番号</th>
              <th>税区分</th>
              <th>丸め方法</th>
              <th>締め日</th>
              <th>登録日時</th>
              <th>更新日時</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="customer: ${customer_list}">
             <th:block th:object="${customer.customer}">
              <td th:text="*{id}"></td>
              <td><a th:text="*{name}" th:href="@{'/customer/detail/id=' + *{id}}"></a></td>
              <td th:text="*{kana}"></td>
              <td th:text="${customer.postal_code}"></td>
              <td th:text="${customer.address1} + ${customer.address2}"></td>
              <td th:text="*{tel}"></td>
              <td th:text="*{fax}"></td>
              <td th:text="${customer.tax_type}"></td>
              <td th:text="${customer.rounding_type}"></td>
              <td th:text="*{closing_day} + '日'"></td>
              <td th:text="${customer.created}"></td>
              <td th:text="${customer.updated}"></td>
             </th:block>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ページネーション -->
	    <div>
		    <ul class="pagination justify-content-center">
		      <li class="page-item">
		      <!-- 
		        <a class="page-link" th:href="${#pagination.prevUrl(pagenumber)}" aria-label="Previous">
		          <span aria-hidden="true">Prev</span>
		        </a>
		         -->
		      </li>
		      <li class="page-item active"><a class="page-link" href="#">1</a></li>
	   	    <li class="page-item"><a class="page-link" href="#">2</a></li>
		      <li class="page-item">
		      <!-- 
		        <a class="page-link" th:href="${#pagination.nextUrl(pagenumber)}" aria-label="Next">
		          <span aria-hidden="true">Next</span>
		        </a>
		         -->
		      </li>
		    </ul>
		  </div>
</main>
  </div>
</div>
</body>
</html>